<div class="container">
    <div class="row">
        <div class="col-sm-12">
    <h2>Galería</h2>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 foto">
        <img src="images/galeria/ch/img01.jpg" alt="img01"></a>
            </div>
            <div class="col-sm-12 col-md-3 foto">
        <img src="images/galeria/ch/img02.jpg"></a>
        </div>
        <div class="col-sm-12 col-md-3 foto">
        <img src="images/galeria/ch/img03.jpg" alt=""/></a>
        </div>
            <div class="col-sm-12 col-md-3 foto">
            <img src="images/galeria/ch/img04.jpg" alt="airport">
        </div>
        </div>
        <div class="row">
        <div class="col-sm-12 col-md-3 foto">
            <img src="images/galeria/img05.jpg" alt="barco1">
        </div>
        <div class="col-sm-12 col-md-3 foto">
            <img src="images/galeria/ch/img11.jpg" alt="puerto4">
        </div>
        <div class="col-sm-12 col-md-3 foto">
            <img src="images/galeria/ch/img12.jpg" alt="puerto5">
        </div>
        <div class="col-sm-12 col-md-3 foto">
            <img src="images/galeria/img08.jpg" alt="puerto1">
        </div>
        </div>
        <div class="row">
        <div class="col-sm-12 col-md-3 foto">
            <img src="images/galeria/ch/img09.jpg" alt="puerto2">
        </div>
        <div class="col-sm-12 col-md-3 foto">
            <img src="images/galeria/ch/img10.jpg" alt="puerto3">
        </div>
        <div class="col-sm-12 col-md-3 foto">
            <img src="images/galeria/img06.jpg" alt="barco2">
        </div>
        <div class="col-sm-12 col-md-3 foto">
            <img src="images/galeria/img07.jpg" alt="barco-carga">
        </div>
    </div>
</div>
</div>
