
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
    <div class="homeimg cycle-slideshow" data-cycle-fx=scrollHorz data-cycle-timeout=2500>
        <div class="cycle-overlay"></div>
        <img src="images/home/img01.jpg" alt="maritimo" data-cycle-title="Image 01" data-cycle-desc="1.Maritime Transport "
            style="width: 100%;">

        <img src="images/home/img02.jpg" alt="ferrocaril" data-cycle-title="Image 02" style="width: 100%;"
            data-cycle-desc="2.Railway Transport">

        <img src="images/home/img03.jpg" alt="vagones" data-cycle-title="Image 03" style="width: 100%;"
            data-cycle-desc="3.Railway transport">

        <img src="images/home/img04.jpg" alt="puerto" data-cycle-title="Image 04" style="width: 100%;"
            data-cycle-desc="4.Port">

        <img src="images/home/img05.jpg" alt="avion" data-cycle-title="Image 05" style="width: 100%;"
            data-cycle-desc="5.Air Transport">
    </div>
    </div>
    </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
        <div class="bienvenidos">
            <h2>Bienvenidos</h2>
            <p>Decidimos agregar esa bajada a la descripción de los servicios que prestamos, ya que es una
                característica muy importante para aplicar al servicio logístico. Empecemos por el principio,
                TransporteXS brinda servicios generales de logística para terceros.</p>
            <p>Esto implica, desde administrar el inventario, preparar pedidos y llegar hasta la realización de la
                entrega física de los mismos a los destinatarios. Volviendo a lo “INTELIGENTE”, entendemos que se
                requiere para este rubro un alto grado de concentración en la eficacia y en la eficiencia.</p>
            <p>No solo, es objetivo de cualquier negocio aplicar estas variables para si mismo, si no que en nuestro
                caso, son variables que terminan beneficiando a nuestros clientes y sus clientes. </p>
        </div>
                </div>
                <div class="col-md-4 col-sm-12">
        <div class="image-obreb">
            <img src="images/home/obreb.jpg" alt="trabajador">
        </div>
    </div>
                </div>
                </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>A TRAVÉS DEL TIEMPO</h2>
                <ul class="company-timeline clearfix">
                    <li>
                        <div class="icon-date-container">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="timeline-item-details">
                            <h3>1997 - Fusión NOESAR & BRECHT</h3>
                            <p>Nace TransporteXS SA producto de la asociación entre NOESAR, líder en transporte de carga a
                                nivel nacional y SOCIEDAD BRECHT, empresa argentina con más de 150 años participando en
                                actividades económicas en el país.</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-date-container">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="timeline-item-details">
                            <h3>1998 - Adquisición de MANDARLY</h3>
                            <p>Servicio de transporte internacional de carga general consolidada, cargas peligrosas y
                                combustibles, entre Argentina, Bolivia y Chile.</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-date-container">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="timeline-item-details">
                            <h3>2002 - Fusión con SEDUCA</h3>
                            <p>Servicio de distribución de cargas en las regiones norte, centro, oeste y litoral sur de
                                Argentina, centros de distribución con un total de 120.000m2 y 60.000m2 de depósitos</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-date-container">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="timeline-item-details">
                            <h3>2003 - MANDARLY LATINA</h3>
                            <p>Con base en Santa Cruz de la Sierra (Bolivia), ofrece soluciones de transporte hacia y
                                desde Chile, Paraguay, Brasil y Argentina.</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-date-container">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="timeline-item-details">
                            <h3>2020 - H.ASSARS</h3>
                            <p>Se suma al Capital Accionario H.ASSARS, uno de los mayores y más exitosos operadores
                                logísticos de Europa, con base en Bélgica. Se activa la expansión de la Compañía
                                en LATAM.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
        <div class="image-depo">
            <img src="images/home/deposito.jpg" alt="deposito">
        </div>
            </div>
            <div class="col-md-8 col-sm-12">
        <div class="vision-mision">
            <h2>Vision</h2>
            <p>Nuestra visión es ser la empresa referente del mercado logístico y de transporte de carga en
                Latinoamérica.</p>
            <h2>Mision</h2>
            <p>Nuestra misión es optimizar nuestros recursos a través de procesos eficientes, brindar un servicio de
                alta calidad y generar valor agregado a nuestros clientes. Asegurar el cuidado del medioambiente y el
                desarrollo humano y profesional de nuestros colaboradores.</p>
        </div>
    </div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 55px;">
        <div class="row">
            <div class="col">
                <div class="valores">
                    <h2 class="value">Valores</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-icon-center">
                    <div class="icon-container">
                        <i class="far fa-life-ring"></i>
                    </div>
                    <h4>Honestidad</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-icon-center">
                    <div class="icon-container">
                        <i class="far fa-chart-bar"></i>
                    </div>
                    <h4>Profesionalismo</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-icon-center">
                    <div class="icon-container">
                        <i class="fa fa-cog"></i>
                    </div>
                    <h4>Compromiso</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-icon-center">
                    <div class="icon-container">
                        <i class="fa fa-tree"></i>
                    </div>
                    <h4>Conciencia ecológica</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-icon-center">
                    <div class="icon-container">
                        <i class="fa fa-random"></i>
                    </div>
                    <h4>Flexibilidad</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-icon-center">
                    <div class="icon-container">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>Pasión</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-icon-center">
                    <div class="icon-container">
                        <i class="fa fa-lock"></i>
                    </div>
                    <h4>Seguridad</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-icon-center">
                    <div class="icon-container">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <h4>Modernidad</h4>
                </div>
            </div>
        </div>
    </div>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/jquery.cycle2.min.js"></script>
