<div class="container">
    <div class="row">
    <div class="col-lg-12 col-sm-12">
    <div class="historia">
        <h2>Historia</h2>
        <p>TransportesXS lleva veinticinco años aportando soluciones a la logística y transporte de suministro
            industrial. En 1992 comienza a prestar sus servicios a las fábricas situadas en las localidades
            barcelonesas.A los pocos años ya era proveedor logístico y de transporte de prácticamente la totalidad de
            las factorías de componentes de automoción de la región. Pertenece al grupo consignatario Logistica y
            Transportes Villar, con sede en Sant Esteve Sesrovires y delegación en Abrera, TansportesXS gestiona en
            20.000 m2 una media de 14.000 paletas almacenadas, mueve 100 camiones al día y efectúa más de 5.000
            expediciones diarias a todo tipo de destinos.</p>
        <p>Desde sus inicios TransportesXS se ha caracterizado por el afán de conocer a la perfección las técnicas de la
            gestión logística, del transporte, de la distribución a nivel internacional de los productos y del
            desarrollo tecnológico. Para la compañía lo más importante es ofrecer con sus servicios de logística y
            transporte, rapidez y seguridad en un solo elemento.</p>
    </div>
    </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
        <h2>Staff</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
        <div class="personas">
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan" width="75">
                </figure>
                <h5>Juan Gomez</h5>
                <h6>Gerente General</h6>
                <p>Sus funciones son planificar, organizar, dirigir, controlar, calcular y conducir
                    el trabajo de la empresa, además de contratar al personal, efectuando esto durante la
                    jornada de trabajo para cumplir con los objetivos establecidos dentro del plan de trabajo
                    estratégico de la misma.
                </p>
            </div>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros2.jpg" alt="Diana" width="75">
                </figure>
                <h5>Diana Reyes</h5>
                <h6>Gerente Comercial</h6>
                <p>Planificar, organizar, dirigir, controlar y coordinar eficientemente el sistema comercial,
                    diseñando estrategias que permitan el logro de los objetivos empresariales, dirigiendo el
                    desarrollo de las actividades de marketing y las condiciones de venta de los servicios postales
                    y afines.
                </p>
            </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros3.jpg" alt="Roberto" width="75">
                </figure>
                <h5>Roberto Zavala</h5>
                <h6>Gerente de RRHH</h6>
                <p>Los Gerentes de Recursos Humanos hacen seguimiento del desarrollo, implementación y mejora de las
                    estrategias, programas y políticas de RRHH. Como jefes del equipo, se enfocan en planificar, dirigir
                    y evaluar la operatividad del área, como el reclutamiento.</p>
            </div>
            </div>
            <div class="col-sm-12 col-md-6">
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros4.jpg" alt="Sandra" width="75">
                </figure>
                <h5>Sandra Mastropiero</h5>
                <h6>Gerente de Logística</h6>
                <p>Los gerentes de logística planifican y dirigen los procesos de la cadena de suministro
                    para garantizar la calidad y almacenaje de las mercancías.A cargo de hacer eficiente todo este
                    procedimiento, enfrentándose a la supervisión de la gestión  de envíos</p>
            </div>
            </div>
            <div class="col-sm-12 col-md-6">
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros5.jpg" alt="Luciano" width="75">
                </figure>
                <h5>Luciano Figuero</h5>
                <h6>Gerente de Marketing</h6>
                <p>Ellos investigan, determinan y evalúan la demanda de un producto, a fines de desarrollar campañas
                    y estrategias de publicidad atendiendo a las particularidades del público objetivo. Están a cargo de
                    establecer y conservar su imagen, manteniendo los valores de la empresa.</p>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12  col-md-12 client">
            <h2>NUESTROS CLIENTES</h2>
            <p>TransportesXS es una Organización que se ha especializado en diseñar e implementar soluciones dentro de
                la cadena de logística, orientadas a satisfacer las permanentes y variables exigencias en las distintas
                etapas de la cadena de abastecimiento.</p>
            <p>Brindamos excelencia en calidad y seguridad estableciendo relaciones de largo plazo con nuestros
                Clientes, proponemos mejoras que generen valor agregado, posicionándonos como socio estratégico
                imprescindible.</p>
            <p>A partir de nuestro modo de relacionamiento con los Clientes que supone la premisa que desde
                TransportesXS tenemos que escuchar, entender e interpretar no solo las necesidades del momento, sino
                también las cuestiones que presentan desafíos comunes, es que proponemos a nuestros Clientes que
                consideren la oportunidad de compartir visiones, desafíos y proyectos a partir de los cuales desde
                TransportesXS estamos en condiciones de generar múltiples alternativas de solución, manteniendo un
                diálogo abierto y ocupando el necesario rol aliado comprometido con su éxito.Somos conscientes que cada
                cliente es diferente con circunstancias y objetivos particulares.</p>
            <h4>Como muestra del éxito de nuestra gestión podemos mencionar:</h4>
            <ul>
                <li>Liderazgo en el país en el transporte, almacenaje y distribución de todo tipo de bebidas.</li>
                <li>Integración en todos los segmentos de la cadena de abastecimiento de productos de consumo masivo
                    (industria alimenticia, limpieza y perfumería).</li>
                <li>Integración en todos los segmentos de la cadena de abastecimiento de productos de consumo masivo
                    (industria alimenticia, limpieza y perfumería).</li>
                <li>Red de transporte integrado para materias primas y productos terminados, operaciones “dentro” del
                    cliente desarrollando en conjunto el master plan anual y quinquenal</li>
            </ul>
        </div>
    </div>
    </div>
    <div class="container" style="background-color: rgb(247, 242, 242);">
    <div class="row">
        <div class="col-md-6 col-sm-12">
        <img class="nosotros-img" src="images/nosotros/nosotros7.jpg" alt="rrhh">
        </div>
        <div class="col-md-6 col-sm-12">
        <div class="rrhh-content">
            <h2>SUMATE A NUESTRO EQUIPO</h2>
            <p>En TransportesXS estamos en la búsqueda de gente proactiva, con vocación de servicio, que valore la integración de equipos interdisciplinarios y que comparta los principios rectores de la Organización.</p>
            <h4>Si te interesa ser tenido en cuenta para nuestras búsquedas laborales, envianos tu currículum a <span class="rrhh">empleos@transp.com.ar</span></h4>
        </div>
        </div>
    </div>
    </div>