<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2>Novedades</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
        {{#each novedades}}
        <div class="novedades">
            <h3 class="title-novedad">{{ titulo }}</h3>
            <h4 class="subtitle-novedad">{{ subtitulo }}</h4>
            <p class="cuerpo-novedad">{{ cuerpo }}</p>
            <hr>
            {{/each}}
        </div>
        </div>
    </div>
    </div>
