<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <h2>Servicios</h2>
        <div class="servicio">
            <figure>
                <img src="images/servicios/ferroviario.jpg" alt="tren">
            </figure>
            <div class="info">
                <h4>Transporte Ferroviario</h4>
                <p>Cuando hablamos de transporte ferroviario, trenes o ferrocarril, nos referimos a un tipo de transporte terrestre guiado sobre una vía férrea, o sea, un canal predeterminado compuesto por un soporte material, como rieles de acero o, en versiones modernas, suspensión electromagnética.El transporte ferroviario es, desde su aparición en la época moderna, una de las principales soluciones construidas por el ser humano para el desplazamiento terrestre de tanto pasajeros como mercancías, revolucionando para siempre la idea de transporte en la sociedad.Consiste en una cadena de vehículos que se desplazan sobre ruedas en un raíl, halados por una locomotora a la cabeza, en la cual se lleva a cabo algún tipo de proceso de obtención de energía, convertida así en movimiento.</p>
                
            </div>
        </div>
        <div class="servicio">
            <figure>
                <img src="images/servicios/aereo.jpg" alt="aereo">
            </figure>
            <div class="info">
                <h4>Transporte Areo</h4>
                <p>El transporte aéreo o transporte por avión es el servicio de traslado de pasajeros o cargamento de un lugar geográfico a otro, mediante el uso de aeronaves, es decir, de vehículos capaces de volar.Aunque inicialmente estaba pensado para pasajeros únicamente, hoy en día se encuentra habilitado también para carga. En la actualidad el transporte aéreo comprende una importante rama del transporte a nivel mundial, siendo el sector más regulado y controlado de todos, en parte por su potencial de riesgo.Con su incorporación al mundo moderno en el siglo XX numerosas posibilidades de desplazamiento se hicieron reales. Acortó las distancias en todo el planeta Tierra y disminuyó significativamente el tiempo requerido para viajes de larga distancia.</p>
            </div>
        </div>
        <div class="servicio">
            <figure>
                <img src="images/servicios/maritimo.jpg" alt="barco">
            </figure>
            <div class="info">
                <h4>Transporte Maritimo</h4>
                <p>El transporte marítimo es una forma del transporte acuático que se traslada por la superficie de los océanos. Está vinculado con los barcos y el desplazamiento de pasajeros y mercancía de una región continental a otra.Este es el modo de transporte de bienes más empleado en el mundo entero, cuya propia naturaleza es de por sí internacional. También es el transporte que mayor movimiento de mercancías permite a lo largo de grandes distancias (hasta 500.000 toneladas de peso muerto en los barcos petroleros ULCC).Por el contrario, su importancia en el traslado de pasajeros ha disminuido desde la invención y masificación del transporte aéreo, mucho más veloz.</p>
            </div>
        </div>
        <div class="servicio">
            <figure>
                <img src="images/servicios/terrestre.jpg" alt="camion">
            </figure>
            <div class="info">
                <h4>Transporte Terrestre</h4>
                <p>El transporte terrestre es el conjunto de los medios de transporte que operan mediante vehículos terrestres, o sea, vehículos que se desplazan sobre la superficie sólida de la Tierra. La mayoría de ellos involucran vehículos dotados de ruedas, ya sea que se desplacen sobre rieles, o libremente sobre la superficie.Los vehículos para el transporte terrestre pueden ser muy diversos en su sistema de locomoción, su capacidad de transporte o la naturaleza de su cargamento.A grandes rasgos, podríamos clasificarlos en: Vehículos motorizados - Vehículos sobre rieles - Vehículos a tracción a sangre.
</p>
            </div>
        </div>
    </div>
    </div>
    </div>