/*inicio nosotros*/
.historia p{
    padding: 0 0 5px;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    font-size: 13px;
}

.personas{
    overflow: hidden;
}

.persona{
    float:left;
    margin-left: 2.25%;
    border-radius: 0.25em;
    border: 1px solid #002060;
    box-sizing: border-box;
    margin-bottom: 35px;
}

.persona figure{
    margin: 0.8em 0 1em;
    text-align: center;
} 

.persona figure img{
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.persona h5, .persona h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 0;
    color: #002060;
    font-size: 16px;
    margin: 0;
}

.persona h5{
    font-size: 0.9em;
}

.persona h6{
    font-size: 0.9em;
    margin-bottom: 1em;
    font-style: italic;
    
}

.persona p{
    font-size: 0.7em; 
    color: #6d6c6c;
    margin: 0 1em 1em;
    text-align: center;
}

.persona:first-child{
    margin-left: 0;
}

.client h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top: 0;
    color: #333;
    font-size: 16px;
}

.client ul li{
    font-size: 13px;
    color: #444;
    padding: 0 0 5px;
}

.client{
    float: left;
}


.nosotros-img{
    width: 380px;
    height: 200px;
    margin-top: 45px;
}

.rrhh-content p{
    padding: 0 0 5px;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    font-size: 13px;
}

.rrhh-content h4{
    font-size: 15px;
    line-height: 25px;
    color: #333;
    margin-bottom: 35px;
}

.rrhh{
    color: #002060;
}
@media screen and (min-width: 551px) and (max-width: 992px){
    .nosotros-img{
        text-align: center;
    }
}

@media screen and (min-width: 280px) and (max-width: 550px){
.img-client{
    display: none;
}
.nosotros-img{
    width: 100%;
}
.client p{
    text-align: left;
}
}

/*fin nosotros*/
